html {
    font-size: 16px;
    font-family: 'PT Sans','Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* filhos do body */
header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10%;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #2C5445;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* filhos do main */
h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.foto_perfil {
    width: 70%;
    height: 70%;
}

.foto_entrar {
    width: 30%;
    height: 20%;
}

.logo {
    width: 10rem;
    height: 10rem;
    align-items: center;
}

.botao {
    padding: 1rem;
}
.entrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}